<div class="row col-sm-12 mt-4">
  <div class="col-sm-3"> </div>
  <div class="col-sm-6">
  <h1 class="head1">Welcome to Ask</h1>
  <h1 class="head2">Career  Opportunities</h1>
  <h4 style="color:red">Login below to start your task and earning</h4>
  <b>Important Note:</b>
    <p>1.Don't use Auto Filling and do not copy and paste the details , type every word or else after the submission then later it will accrued as an error form.</p>
    <p>2. Use only one device to work from which you login first , don't use another device or else ID will block permanently.</p>
    <p>3. Make sure for all space if there is any extra space put the space</p>
    <p>4. Use a high speed net</p>
  </div>
  <div class="col-sm-3"> <img src="../../assets/ask.png" alt="Trulli" width="140" height="140"></div>
 

</div>

<div class="row col-sm-12 mt-4">
  <div class="col-sm-3"> </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-header" style="font-weight: bolder;font-size: 20px;">
        LOGIN
      </div>
     
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="login(f.value)">
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email"   class="form-control"  name="user" [(ngModel)]="user" aria-describedby="emailHelp" placeholder="Enter email">
            <small  *ngIf="showEmailerror" style="background-color:darksalmon;" id="emailHelp" class="form-text text-muted">Email is required.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass"  placeholder="Password">
            <small *ngIf="showPassworderror" float='left' id="emailHelp" style="background-color: darksalmon;" class="form-text text-muted">Password is required.</small>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success  btn-block">Submit</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted" style="font-weight: bold;font-size: 20px;">
        
      </div>
    
    </div>
    <p style="float:left">if you getting any problem while login connect with your recruiter or write us at
      service.askformegroup@gmail.com
    </p>
  </div>
  <div class="col-sm-3"></div>
</div>

