.head1{
    margin-left: 5%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(99, 61, 238)
}

.head2{
    margin-left: 1%;
    font-family: "Times New Roman", Times, serif;
    color: rgb(99, 61, 238)
}