<button (click)="backToSignup()">Back</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Password</th>
        <th scope="col">Error Count</th>
        <th scope="col">Success Count</th>
        <th scope="col">Form Assigned</th>
        <th scope="col">Form Submitted</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let fields of userdetails; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{fields.username}}</td>
        <td>{{fields.password}}</td>
        <td>{{fields.error}}</td>
        <td>{{fields.succes}}</td>
        <td>{{fields.formassigned}}</td>
        <td>{{fields.formsubmitted}}</td>
        <td>{{fields.status}}</td>

      </tr>
    </tbody>
  </table>