<div class="row col-sm-12 mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="card text">
        <div class="card-header">
           <p style="font-size: 20px;font-weight: bold;">Enter User Detail<button class="btn btn-secondary" (click)="logout()" style="float: right;">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button></p>
           <div style="background-color:white; width: 15%;">
            <small class="form-text text-muted p-1" style="font-weight: bolder;">Success Count: {{SuccessCount}}</small>
            <small class="form-text text-muted p-1" style="font-weight: bolder;">Error Count: {{ErrorCount}}</small>
            <!-- <small class="form-text text-muted p-1" style="font-weight: bolder;">Amount:
            <button type="button btn btn-sm" (click)="pay()">Pay</button>
            </small> -->
          </div>
        </div>
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputName">Candidate Name</label>
                  <input type="text" class="form-control"  name="candidateName" [(ngModel)]="candidateName"  placeholder="Enter Customer Name">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].candidateName}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email ID</label>
                  <input type="email" class="form-control"  name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false"  class="p-4 mt-3">{{formob[0].email}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact</label>
                  <input type="text" class="form-control"  name="contact" [(ngModel)]="contact" aria-describedby="emailHelp" placeholder="Enter Number">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].contact}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">City</label>
                  <input type="text" class="form-control"  name="city" [(ngModel)]="city" aria-describedby="emailHelp" placeholder="Enter City">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].city}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Locality</label>
                  <input type="text" class="form-control"  name="locality" [(ngModel)]="locality" aria-describedby="emailHelp" placeholder="Enter Locality">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].locality}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Role</label>
                  <input type="text" class="form-control"  name="role" [(ngModel)]="role" aria-describedby="RoleHelp" placeholder="Enter Role">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].role}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Qualification</label>
                  <input type="text" class="form-control"  name="qualification" [(ngModel)]="qualification" aria-describedby="QualificationHelp" placeholder="Enter Qualification">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].qualification}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">SKILL</label>
                  <input type="text" class="form-control"  name="skill" [(ngModel)]="skill" aria-describedby="skillHelp" placeholder="Enter skill">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].skill}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">DOB</label>
                  <input type="text" class="form-control"  name="dob" [(ngModel)]="dob" aria-describedby="dobHelp" placeholder="Enter dob">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].dob}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">AGE</label>
                  <input  type="text" class="form-control"  name="age" [(ngModel)]="age" aria-describedby="ageHelp" placeholder="Enter age">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].age}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Language Known</label>
                  <input type="text" class="form-control"  name="languageKnown" [(ngModel)]="languageKnown" aria-describedby="languageHelp" placeholder="Enter Language Known">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].languageKnown}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Single/Married</label>
                  <input type="text" class="form-control"  name="singleOrMarried" [(ngModel)]="singleOrMarried" aria-describedby="ageHelp" placeholder="Enter marital status">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div  style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].singleOrMarried}}</div>
              </div>
            </div>


            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Fresher/ Experience</label>
                  <input type="text" class="form-control"  name="fresherOrExperienced" [(ngModel)]="fresherOrExperienced" aria-describedby="ExperienceStatusHelp" placeholder="Enter Experience">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <div style="white-space: pre-wrap;" oncopy="return false" oncut="return false" class="p-4 mt-3">{{formob[0].fresherOrExperienced}}</div>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="exampleInputEmail1">Captcha</label>
                  <input  type="text" class="form-control"  name="captcha" [(ngModel)]="captcha" aria-describedby="captcha" placeholder="Enter captcha">
                </div>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4 mt-4 p-2" >
                <span style="white-space: pre-wrap;" class="p-2 mt-4 text-center" oncopy="return false" oncut="return false" style="background-color: yellow;font-size: 20px">{{formob[0].captcha}}</span>
              </div>
            </div>

            <div class="row col-sm-12">
              <div class="col-sm-2">
                <div class="form-group" >
                  <button type="submit" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Submit</button>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group" >
                  <button  type="reset" class="btn btn-secondary"(click)="resetForm()">Reset</button>
                </div>
              </div>
              <div class="col-sm-8">

              </div>
            </div>

          </form>
        </div>

        <div class="card-footer text-muted text-center">
          @askmework.biz
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog"   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Status</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div  class="modal-body" *ngIf="!showtable&&showtable!==undefined">
       You Succesfully submitted all records
      </div>
      <div  class="modal-body" *ngIf="showtable==undefined">
         Please Wait its take some time. If it take Longer Make Sure your Connection to Network Should be good.
       </div>

      <div class="modal-body table-responsive-sm" *ngIf="showtable">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fields</th>
              <th scope="col">Incorrect Field</th>
              <th scope="col">Correct Field</th>
            </tr>
          </thead>
          <tbody *ngIf="Invalidrecords">
            <tr *ngFor="let fields of Invalidrecords; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{fields.key}}</td>
              <td>{{fields.incorrectValue}}</td>
              <td>{{fields.correctValue}}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="emptyCheck">

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Empty Record Fields</th>

            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let fields of EmptyRecords; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{fields}}</td>

            </tr>
          </tbody>
        </table>
      </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary"   data-dismiss="modal" (click)="ok()" >OK</button>
      </div>
    </div>
  </div>
</div>

