<div class="row col-sm-12 mt-4">
    <div class="col-sm-3">
         </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-header" style="font-weight: bolder;font-size: 20px;">
          SignUp
        </div>
       
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="signup(f.value)">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="email"   class="form-control"  name="user" [(ngModel)]="user" aria-describedby="emailHelp" placeholder="Enter email">
              <small  *ngIf="showEmailerror" style="background-color:darksalmon;" id="emailHelp" class="form-text text-muted">Email is required.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Form Assigned</label>
                <input type="email"  (keypress)="numberOnly($event)" class="form-control"  name="formassigned" [(ngModel)]="formassigned" aria-describedby="emailHelp" placeholder="Enter form assigned">
                <small  *ngIf="showFormAssignederror" style="background-color:darksalmon;" id="emailHelp" class="form-text text-muted">Form assigned is required.</small>
              </div>
              
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass"  placeholder="Password">
              <small *ngIf="showPassworderror" float='left' id="emailHelp" style="background-color: darksalmon;" class="form-text text-muted">Password is required.</small>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success  btn-block">Submit</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-muted" style="font-weight: bold;font-size: 20px;">
          @askmework.biz
        </div>
      </div>
    </div>
    <div class="col-sm-3"><button (click)="usersDetails()">
        View All Users Details
    </button>
    <br><br>
<button (click)="NavigatetLogin()">back To Login Page</button></div>
  </div>
  
  