<div id="sidebar">
    <div class="toggle-btn" (click)="toggleSidebar()">
<span></span>
<span></span>
<span></span>
    </div>
    <ul style="margin-top: 50px;">
        <li><a  (click)="UserInfo()">Home</a></li>
        <li><a  (click)="UserRegister()">User Registration</a></li>
        <li><a (click)="Editdelete()">Edit/Delete</a></li>
    </ul>
</div>
<div class="header">
    <span>   <a class="logo2" (click)="Logout()"><i class="fa fa-sign-out" style="font-size:24px">  Logout</i></a></span>
 
    <!-- <a class="logo1"><i> {{PageRedirect}}</i></a> -->
    <a class="logo"><i> Admin Panel</i></a>
   
    <div class="header-right">
 
    </div>
  </div>

  <div  id="MoveSide" *ngIf="userInformation">
    <h4 style="margin-left: 40%; color:crimson">User's Information</h4>
    <table class="table">
        <thead style=" background-color: rgb(166, 164, 167);">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Password</th>
            <th scope="col">Error Count</th>
            <th scope="col">Maximum Errors</th>
            <th scope="col">Success Count</th>
            <th scope="col">Form Assigned</th>
            <th scope="col">Form Submitted</th>
            <th scope="col">Status</th>
    
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let fields of userdetails; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{fields.username}}</td>
            <td>{{fields.password}}</td>
            <td>{{fields.error}}</td>
            <td>{{fields.Maxerror}}</td>
            <td>{{fields.succes}}</td>
            <td>{{fields.formassigned}}</td>
            <td>{{fields.formsubmitted}}</td>
            <td>{{fields.status}}</td>
    
          </tr>
        </tbody>
      </table>
  </div>
  <div *ngIf="userRegister">
    <div >
        <!-- <div class="col-sm-2">
             </div> -->
        <div >
          <div class="card text-center bodyalign" >
            <div class="card-header" style="font-weight: bolder;background-color:rgb(174, 4, 226);font-size: 20px;">
             Register User
            </div>
           
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="signup(f.value)">
                <div class="form-group">
                  <label for="exampleInputEmail1">User Name</label>
                  <input type="email"   class="form-control"  name="user" [(ngModel)]="user" aria-describedby="emailHelp" placeholder="Enter email">
                  <small  *ngIf="showEmailerror" style="background-color:darksalmon;" id="emailHelp" class="form-text text-muted">Email is required.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Form Assigned</label>
                    <input type="email"  (keypress)="numberOnly($event)" class="form-control"  name="formassigned" [(ngModel)]="formassigned" aria-describedby="emailHelp" placeholder="Enter form assigned">
                    <small  *ngIf="showFormAssignederror" style="background-color:darksalmon;" id="emailHelp" class="form-text text-muted">Form assigned is required.</small>
                  </div>
                  
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass"  placeholder="Password">
                  <small *ngIf="showPassworderror" float='left' id="emailHelp" style="background-color: darksalmon;" class="form-text text-muted">Password is required.</small>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary  btn-block">Submit</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-muted" style="font-weight: bold;background-color:rgb(174, 4, 226);font-size: 20px;">
              @askmework.biz
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-2">
        </div> -->
      </div>
  </div>

  <div  id="MoveSide" *ngIf="userEdit">
    <h4 style="margin-left: 40%; color:crimson">User's Information</h4>
    <table class="table">
        <thead style=" background-color: rgb(166, 164, 167);">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Password</th>
            <th scope="col">Error Count</th>
            <th scope="col">Maximum Errors</th>
            <th scope="col">Success Count</th>
            <th scope="col">Form Assigned</th>
            <th scope="col">Form Submitted</th>
            <th scope="col">Status</th>
            <th scope="col">Edit/Delete</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let fields of userdetails; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{fields.username}}</td>
            <td>{{fields.password}}</td>
            <td>{{fields.error}}</td>
            <td>{{fields.Maxerror}}</td>
            <td>{{fields.succes}}</td>
            <td>{{fields.formassigned}}</td>
            <td>{{fields.formsubmitted}}</td>
            <td>{{fields.status}}</td>
            <td> <i class='fa fa-edit'  style="margin-right: 10px;" data-toggle="modal" (click)="updateUser(fields.key1)" data-target=".bd-example-modal-lg"></i><i (click)="DeleteRecord(fields.key1)" class="fa fa-trash"></i></td>
    
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog"   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Status</h5>
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <label for="fname">User name:</label>
          <input class="form-control" style="width: 25%;height: 20%;"type="text" id="userName"[(ngModel)]="userName" name="userName"><br><br>
          <label for="fname">Password:</label>
          <input class="form-control" style="width: 25%;height: 20%;"type="text" id="passWord"[(ngModel)]="passWord" name="passWord"><br><br>
          <label for="lname">successCount:</label>
          {{successCount}}<br><br>
          <label for="fname">errorCount:</label>
          {{errorCount}}<br><br>
          <label for="fname">MaximumErrors:</label>
          <input class="form-control" style="width: 25%;height: 20%;"type="text" id="Maxerror"[(ngModel)]="Maxerror" name="Maxerror"><br><br>
       
          <label for="lname">formsAssigned:</label>
          <input class="form-control" (keypress)="numberOnly($event)" style="width: 25%;height: 20%;"type="text" id="formsAssigned"[(ngModel)]="formsAssigned" name="formsAssigned"><br><br>
          <label for="fname">formsSubmitted</label>
          <input class="form-control" (keypress)="numberOnly($event)" style="width: 25%;height: 20%;"type="text" id="formsSubmitted"[(ngModel)]="formsSubmitted" name="formsSubmitted"><br><br>
          <label for="fname">Status:</label>
          <select  class="form-control" style="width: 25%;height: 20%;" (change)="Selectstatus($event)">
            <option disabled>Select Status</option>

            <option *ngFor="let stu of Status" [selected]="stu == status">{{stu}}</option>
        </select>
        </div>
      
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary"   data-dismiss="modal" (click)="update()" >Update</button>
        </div>
      </div>
    </div>
  </div>
  