* {
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}

#sidebar {
    position: fixed;
    width:200px;
    height: 100%;
    background:#151719;
    left:-200px;
    transition: all 500ms linear;
}

#sidebar.active {
    left:0px;
}

#sidebar ul li {
    color:rgba(224, 90, 13, 0.808);
    list-style:none;
    padding:15px 10px;
    border-bottom:1px solid rgba(100,100,100,0.3);
}

#sidebar ul li:hover {
    background-color: rgb(166, 164, 167);
  }

#sidebar .toggle-btn {
    position: absolute;
    left:230px;
    top:20px;
}

#sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin: 5px 0px;
}

.header {
    width: 100%;
    overflow: hidden;
    background-color:  rgb(166, 164, 167);
    padding: 20px 10px;
  }

  .header a.logo {
    font-size: 25px;
    color:#151719;
    font-weight: bold;
    float:right;
    padding-right: 36%;
  }
  .header a.logo1 {
    font-size: 25px;
    color:#151719;
    font-weight: bold;
    float:right;
    padding-right: 200px;
  }

  .header a.logo2 {
    float:right;
    padding-right: 50px;
  }

  #MoveSide {
    left:-100px;
  }
  
  #MoveSide.active{
    left:0px;   
  }

  .bodyalign{
    width: 60%;
    margin-left: 300px;
    margin-top: 80px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }